@model List<Frontend.DtosLayer.SpecialOfferDto.ResultSpecialOfferDto>
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="@item.ImageUrl" alt="@item.Title">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">@item.SubTitle</h6>
                            <h3 class="text-white mb-3">@item.Title</h3>
                            <a href="/Product/Index" class="btn btn-primary">Hemen Al</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>