@model Frontend.DtosLayer.CategoryDto.UpdateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}


<form asp-area="Admin"
      asp-controller="Category"
      asp-action="UpdateCategory"
      method="post">

    <input type="hidden" asp-for="CategoryId" />

    <div class="mb-3">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>

    <a asp-action="Index"
       asp-controller="Category"
       asp-area="Admin"
       class="btn btn-secondary">
        Geri
    </a>

</form>