@model Frontend.DtosLayer.CategoryDto.UpdateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}


<form asp-area="Admin"
      asp-controller="Category"
      asp-action="UpdateCategory"
      method="post"
      enctype="multipart/form-data">

    <input type="hidden" asp-for="CategoryId" />

    <div class="mb-3">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Mevcut Görsel</label>
        <div class="mb-2">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" style="width:100px; height:auto; border-radius:5px;" />
            }
        </div>
        <label>Yeni Görsel Seçin</label>
        <input type="file" name="imageFile" class="form-control" />
        <input type="hidden" asp-for="ImageUrl" />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>

    <a asp-action="Index"
       asp-controller="Category"
       asp-area="Admin"
       class="btn btn-secondary">
        Geri
    </a>

</form>