@model Frontend.DtosLayer.SpecialOfferDto.UpdateSpecialOfferDto

@{
    ViewData["Title"] = "Teklif Güncelle";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card-style mb-30">
        <h3 class="mb-25">Özel Teklifi Güncelle</h3>

        <form asp-area="Admin"
              asp-controller="AdminSpecialOffer"
              asp-action="UpdateSpecialOffer"
              method="post">

            @* Güncelleme işlemi için Id gizli olarak gönderilmeli *@
            <input type="hidden" asp-for="SpecialOfferId" />

            <div class="mb-3">
                <label class="form-label">Teklif Ana Başlığı</label>
                <input type="text" asp-for="Title" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Teklif Alt Başlığı (Slogan)</label>
                <input type="text" asp-for="SubTitle" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Görsel URL</label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="lni lni-reload"></i> Güncelle
                </button>

                <a asp-action="Index"
                   asp-controller="AdminSpecialOffer"
                   asp-area="Admin"
                   class="btn btn-secondary text-white">
                    <i class="lni lni-arrow-left"></i> Geri Dön
                </a>
            </div>
        </form>
    </div>
</div>